body {
    margin: 30px
}

td:hover {
    background-color: lightgoldenrodyellow;
}

#button {
    margin-left: 5%;
    margin-right: 80%;
    margin-bottom: 10px;
}

section {
    margin-left: 30%;
    margin-right: 30%;
    
    border-radius: 10px;
}